<p>comment wall</p>
<%= form_with model: [@profile, @profile.comments.build] do |f| %>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body, class: 'form-control' %>
  </div>
  <%= f.submit 'Submit' %>
<% end %>

<%= render 'comments' %>
