<div class="container">
  <strong data-user-id="<%= current_user.id %>">You Conversation</strong>
  <% if @conversation.user_id === current_user.id %>
    <div class="badge badge-dark"><%= @conversation.second_user.user_name %></div> <%= image_tag(@conversation.second_user.profile.thumbnail_cropped, style: 'border-radius: 100%;') %>
  <% elsif @conversation.second_user_id === current_user.id %>
      <div class="badge badge-dark mr-2"><%= @conversation.user.user_name %></div><%= image_tag(@conversation.user.profile.thumbnail_cropped, style: 'border-radius: 100%;') %>
  <% end %>

  <div class="well container mb-3" id="chatbox" data-conversation-id="<%= @conversation.id %>" style="overflow-y: scroll; height: 400px; background-color: #d6d6d6; border-radius: 15px;">
    <%= render 'messages' %>
  </div>

  <div class="container">
    <div class="chatbox-form">
      <%= form_with model: [@conversation, @conversation.messages.build] do |f| %>
        <div class="field mb-2">
          <%= f.text_area :body, class: 'form-control', placeholder: 'Type your message...' %>
        </div>
        <%= f.submit 'Submit', class: 'btn btn-info mb-5' %>
      <% end %>
    </div>
  </div>
</div>
