<p>Conversation between x and y</p>

<div class="well container" id="chatbox" data-conversation-id="<%= @conversation.id %>" style="overflow-y: scroll; height: 400px;">
  <%= render 'messages' %>
</div>

<div class="container">
  <div class="chatbox-form">
    <%= form_with model: [@conversation, @conversation.messages.build] do |f| %>
      <div class="field mb-2">
        <%= f.label :body %>
        <%= f.text_area :body, class: 'form-control' %>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-info' %>
    <% end %>
  </div>
</div>
