<div class="container">
  <h1>Connection Requests</h1>

  <% @requests.each do |request| %>
    <div class="card bg-dark text-white">
      <div class="card-body">
        <div class="mb-3">
          A request has been sent by <span class="mr-1"><%= request.user.first_name.titleize %></span><%= request.user.last_name.titleize %>.
        </div>
        <div class="mb-3">
          <%= image_tag(request.user.profile.image, class: 'img-fluid', style: 'height: 150px; border-radius: 100%;') %>
          <%= request.request_message %> <br>
        </div>

        <% if request.request_status_id === 1 %>
          <%= link_to 'Accept Connection', accept_profile_request_path(@profile, request), method: :patch, class: 'btn btn-info' %>
          <%= link_to 'Reject Connection', reject_profile_request_path(@profile, request), method: :patch, class: 'btn btn-warning' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
