<nav class="navbar navbar-expand-lg navbar-light mb-5" style="background-color: white; border-bottom: 2px solid black;">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag('connectly.svg', class: 'img-responsive', style: 'height: 40px;') %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <% if !user_signed_in? %>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-item nav-link text-black' %>
          <%= link_to 'Sign In', new_user_session_path, class: 'nav-item nav-link text-black' %>  
      <% end %>
      <% if user_signed_in? %>
        <%= link_to 'Search', profiles_path, class: 'nav-item nav-link text-black' %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-item nav-link text-black' %>
      <% end %>
    </div>
  </div>
</nav>
